.benefits-header {
  background-color: #ffffff;
  position: relative;
  margin: 0 auto;
  padding: 26px 26px;
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
  // background-color: #81b3d2;
  // background-image: url("../../img/background/bg-border.svg");
  // background-repeat: no-repeat, no-repeat;
  // background-position: bottom, center top;
  // background-size: auto, cover;
  // height: 390px;
}

.benefits-header__title {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
