.copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  @media @tablet {
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }
}

.copyright__text {
  margin-right: 11px;
  text-transform: uppercase;

  &__text:hover {
    color: @black;
  }

  &__text:focus {
    color: @bg-color-main-button;
  }

  &__text:active {
    color: #b3b3b3;
  }
}

.copyright__icon-htmlacademy {
  display: block;
  fill: @black;

  &__icon-htmlacademy:hover {
    fill: @bg-color-main-button;
  }

  &__icon-htmlacademy:focus {
    fill: @bg-color-main-button;
  }

  &__icon-htmlacademy:active {
    opacity: 0.3;
  }
}

.copyright__link {
  &__link:hover {
    fill: @bg-color-main-button;
  }

  &__link:focus {
    fill: @bg-color-main-button;
  }

  &__link:active {
    opacity: 0.3;
  }
}
