.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright__text {
  margin-right: 11px;
  text-transform: uppercase;
}
.copyright__icon-htmlacademy:hover {
  fill: #81b3d2;
}
.copyright__icon-htmlacademy:focus {
  fill: #81b3d2;
}
.copyright__icon-htmlacademy:active {
  opacity: 0.3;
}
.copyright__icon-htmlacademy {
  display: block;
  fill: #000000;
}
