.feedback-header {
  // padding-left: 20px;
  // padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
  margin-left: 47px;

  @media @tablet {
    padding: 0;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &__title {
    font-family: @font-family-base;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: @black;

    @media @tablet {
      font-size: 30px;
      line-height: 26px;
    }
  }

  &__description {
    font-family: @font-family-base;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: @font-color-base;

    @media @desktop {
      padding: 0 139px;
    }
  }
}
