.feedback {
  width: 320px;
  // margin: 0 auto;
  margin-top: 0px;
  margin-right: 17px;
  margin-bottom: 12px;
  margin-left: 17px;

  &__form {
    display: flex;
    flex-direction: column;
  }

  @media @tablet {
    width: 768px;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
  }
}
