// .form {

//   }

.form__label {
  margin-left: 15px;
  margin-right: 15px;
  line-height: 26px;
  color: @font-color-base;
  text-transform: uppercase;

  @media @desktop {
    display: flex;
    flex-direction: column;
    margin-bottom: 1px;
    margin-top: 9px;
  }
}

.form__legend {
  margin: 0 auto;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  @media @tablet {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 0;
    padding-top: 22px;
    padding-right: 7px;
    padding-bottom: 26px;
    padding-left: 49px;
  }

  @media @desktop {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 18px;
    padding-bottom: 0;
    padding-left: 64px;
  }
}

.form__legend-fullname-title {
  @media @tablet {
    margin-bottom: 1px;
  }
}

.form__legend--impression {
  @media @tablet {
    padding-right: 93px;
    padding-top: 20px;
    padding-left: 52px;
  }

  @media @desktop {
    padding-left: 83px;
  }
}

.form__legend--communication {
  @media @tablet {
    padding-top: 27px;
    padding-bottom: 24px;
    padding-left: 0;
    margin-left: -16px;
  }

  @media @desktop {
    padding-left: 0;
    padding-right: 67px;
    margin-bottom: 1px;
  }
}

.form__legend--sights {
  position: relative;
  margin-bottom: 45px;

  @media @tablet {
    text-align: center;
    margin-bottom: 0;
    padding-top: 15px;
    padding-left: 5px;
  }

  @media @desktop {
    position: relative;
    margin-bottom: 35px;
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  margin-top: 1px;

  @media @desktop {
    margin-left: 3px;
  }
}

.form__container {
  padding: 20px;
  padding-bottom: 7px;

  @media @tablet {
    border-top: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 1;
    left: 0;
    width: 320px;
    height: 1px;
    background-color: @border-color-photo;

    @media @tablet {
      display: none;
    }

    @media @desktop {
      display: none;
    }
  }
}

.form__input {
  padding: 20px;
  font-weight: bold;
  font-size: 18px;
  background-color: @bg-color-body;
  border: none;
  font-family: inherit;
  height: 23px;
  width: 240px;
  color: @black;

  @media @tablet {
    min-width: 190px;
    height: 15px;
    padding-top: 19px;
    padding-left: 14px;
  }

  @media @desktop {
    height: 17px;
    width: 392px;
  }

  &::placeholder {
    font-family: @font-family-base;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.3);
  }

  &:hover {
    background-color: rgba(229, 229, 229, 1);
  }

  &:active,
  &:focus {
    outline: 4px solid @border-color-photo;
    outline-offset: -4px;
    background-color: @white;
  }
}

.form__icon {
  min-width: 58px;
  background-color: @border-color-photo;
  background-repeat: no-repeat;
  background-position: center;

  &--telephone {
    background-image: url("../img/icon/phone.svg");
  }

  &--email {
    background-image: url("../img/icon/mail.svg");
  }
}

.form__input--contact-info {
  width: 181px;

  @media @desktop {
    width: 331px;
    padding-bottom: 16px;
    padding-left: 12px;
    padding-top: 18px;
  }
}

.form__input-icon-group {
  display: flex;
  width: 100%;
}

.form__label--padding {
  margin-bottom: 10px;
  margin-left: 22px;

  @media @desktop {
    margin-bottom: 4px;
    margin-left: 12px;
    margin-top: 11px;
  }
}

.form__label-hidden {
  @media @desktop {
    padding-top: 11px;
  }
}

.form__input--textarea {
  min-height: 118px;
  resize: none;
  font-family: inherit;

  @media @tablet {
    resize: none;
    min-height: 120px;
    min-width: 613px;
    padding-top: 16px;
  }

  @media @desktop {
    margin-left: 187px;
    min-width: 726px;
    min-height: 119px;
    margin-top: 10px;
    padding-top: 18px;
    padding-left: 18px;
  }
}

.form--review {
  margin-bottom: 50px;
}

.form__group {
  margin: 0;
  padding: 0;
  // display: flex;
  align-items: center;
  margin-bottom: 20px;

  @media @tablet {
    margin: 0 0 15px;
  }

  @media @desktop {
    margin: 0 0 11px;
  }
}

.form__group--column {
  flex-direction: column;
  align-items: flex-start;
}

.form__group-wrapper {
  width: 280px;

  @media @tablet {
    width: 282px;
  }

  @media @desktop {
    width: 401px;
  }
}

.form__error-message {
  display: none;
}

.form__selector-label {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  @media @desktop {
    flex-wrap: wrap;
    padding-top: 25px;
    padding-left: 19px;
    padding-right: 39px;
    left: 117px;
  }
}

.form__selector-text {
  margin-right: 5px;
}

.form__selector-indicator {
  position: relative;
  display: block;
  min-width: 48px;
  height: 48px;
  margin-right: 22px;
  background-color: @bg-color-body;
}

.form__selector-indicator--radio {
  border-radius: 50%;
  margin-right: 11px;
}

.form__selector-indicator--checkbox {
  border-radius: 4px;
  margin-right: 15px;
}

.form__selector-indicator:active {
  background-color: @border-color-item;
  border: 1px solid #d6d6d6;
}

.form__selector:hover + .form__selector-indicator,
.form__selector:focus + .form__selector-indicator {
  background-color: @border-color-photo;
}

.form__selector--radio:checked + .form__selector-indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 17px;
  height: 17px;
  margin-top: -9px;
  margin-left: -9px;
  background-color: @font-color-base;
  border-radius: 50%;
}

.form__selector--radio:checked + .form__selector-indicator:active::before {
  opacity: 0.3;
}

.form__selector--checkbox:checked + .form__selector-indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 24px;
  height: 16px;
  margin-top: -8px;
  margin-left: -12px;
  background: url("../img/icon/tick-form.svg") no-repeat;
}

.form__selector--checkbox:checked + .form__selector-indicator:active::before {
  opacity: 0.3;
}

.form__legend-review-title {
  @media @desktop {
    margin-right: 71px;
  }
}

.form__legend--contacts {
  @media @tablet {
    margin-bottom: 25px;
  }
}

.form__legend--review {
  @media @tablet {
    position: relative;
    text-align: center;
    padding-top: 0;
    padding-left: 2px;
    padding-right: 42px;
  }
}

.form__legend--review::before {
  @media @tablet {
    position: absolute;
    content: "";
    height: 1px;
    width: 128px;
    flex-grow: 1;
    flex-shrink: 0;
    background: @border-color-item;
    top: 50%;
    left: -218px;
  }

  @media @desktop {
    position: absolute;
    content: "";
    height: 1px;
    width: 280px;
    flex-grow: 1;
    flex-shrink: 0;
    background: @border-color-item;
    top: 50%;
    left: -293px;
  }
}

.form__legend--review::after {
  @media @tablet {
    position: absolute;
    content: "";
    height: 1px;
    width: 128px;
    flex-grow: 1;
    flex-shrink: 0;
    background: @border-color-item;
    top: 50%;
    right: -205px;
  }

  @media @desktop {
    position: absolute;
    content: "";
    height: 1px;
    width: 278px;
    flex-grow: 1;
    flex-shrink: 0;
    background: @border-color-item;
    top: 50%;
    right: -281px;
  }
}

.form__container--fullname {
  @media @tablet {
    position: relative;
    order: 1;
    width: 232px;
    padding-left: 49px;
    margin-right: 49px;
    padding-right: 60px;
    padding-top: 25px;
    margin-left: 14px;
  }

  @media @desktop {
    position: relative;
    order: 1;
    width: 396px;
    margin-right: 49px;
    padding-right: 59px;
    padding-left: 116px;
    padding-top: 1px;
  }
}

.form__container--fullname::after {
  @media @tablet {
    content: "";
    position: absolute;
    width: 1px;
    height: 90%;
    top: 10;
    right: -29px;
    left: auto;
    background-color: @bg-color-checkbox--active;
  }

  @media @desktop {
    content: "";
    position: absolute;
    width: 1px;
    height: 90%;
    top: 10%;
    right: -44px;
    left: auto;
    background-color: @bg-color-checkbox--active;
  }
}

.form__fieldset--lattice::before {
  @media @tablet {
    position: absolute;
    content: "";
    height: 1px;
    width: 125px;
    flex-grow: 1;
    flex-shrink: 0;
    background: @bg-color-checkbox--active;
    top: 55%;
    left: 59px;
  }

  @media @desktop {
    position: absolute;
    content: "";
    height: 1px;
    width: 276px;
    flex-grow: 1;
    flex-shrink: 0;
    background: @bg-color-checkbox--active;
    top: 56%;
    left: 121px;
  }
}

.form__fieldset--lattice::after {
  @media @tablet {
    position: absolute;
    content: "";
    height: 1px;
    width: 125px;
    flex-grow: 1;
    flex-shrink: 0;
    background: @bg-color-checkbox--active;
    top: 55%;
    right: 60px;
  }

  @media @desktop {
    position: absolute;
    content: "";
    height: 1px;
    width: 282px;
    flex-grow: 1;
    flex-shrink: 0;
    background: @bg-color-checkbox--active;
    top: 56%;
    right: 117px;
  }
}

.form__container--impression {
  @media @tablet {
    order: 3;
    width: 100%;
    padding-left: 26px;
    padding-right: 26px;
  }

  @media @desktop {
    flex-wrap: wrap;
    padding-left: 17px;
    padding-right: 96px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 31px;
  }
}

.form__container--communication {
  @media @tablet {
    padding-top: 20px;
    order: 2;
    min-width: 305px;
    padding-left: 22px;
    padding-bottom: 25px;
  }

  @media @desktop {
    padding-top: 1px;
    order: 2;
    width: 401px;
    padding-left: 56px;
  }
}

.form__container--sights {
  @media @tablet {
    padding-top: 1px;
    order: 4;
    width: 100%;
  }

  @media @desktop {
    padding-top: 20px;
    padding-right: 77px;
    padding-left: 10px;
  }
}

.form__container--review {
  @media @tablet {
    padding-top: 0;
    order: 5;
    width: 100%;
    padding-left: 60px;
  }

  @media @desktop {
    padding-top: 29px;
    order: 5;
    width: 100%;
    padding-left: 27px;
  }
}

.form__container--review::before {
  @media @desktop {
    position: absolute;
    content: "";
    height: 1px;
    width: 293px;
    flex-grow: 1;
    flex-shrink: 0;
    background: @border-color-item;
    top: 50%;
    left: -365px;
  }
}

.form__container--button {
  @media @tablet {
    padding-top: 48px;
    order: 6;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: @font-color-base;
    padding-left: 60px;
    padding-right: 50px;
    padding-top: 39px;
  }

  @media @desktop {
    padding-left: 123px;
    margin-left: 93px;
    border-right-width: 104px;
    margin-right: 153px;
    padding-right: 38px;
    padding-top: 39px;
  }
}

.form__fieldset--lattice {
  @media @tablet {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 70px;
    padding-right: 30px;
  }

  @media @desktop {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    // padding-left: 120px;
    margin: 0;
    padding: 0;
  }
}

.form__legend--sights::before {
  @media @tablet {
    position: absolute;
    content: "";
    height: 1px;
    width: 125px;
    flex-grow: 1;
    flex-shrink: 0;
    background: @bg-color-striked;
    top: 50%;
    left: -182px;
  }

  @media @desktop {
    position: absolute;
    content: "";
    height: 1px;
    width: 277px;
    flex-grow: 1;
    flex-shrink: 0;
    background: @bg-color-striked;
    top: 53%;
    left: -265px;
  }
}

.form__legend--sights::after {
  @media @tablet {
    position: absolute;
    content: "";
    height: 1px;
    width: 125px;
    flex-grow: 1;
    flex-shrink: 0;
    background: @bg-color-striked;
    top: 50%;
    right: -180px;
  }

  @media @desktop {
    position: absolute;
    content: "";
    height: 1px;
    width: 334px;
    flex-grow: 1;
    flex-shrink: 0;
    background: @bg-color-striked;
    top: 50%;
    right: -380px;
  }
}

.form__legend-fixed-content {
  @media @tablet {
    display: inline-block;
    width: 300px;
  }
}

.form__selectors-wrapper {
  display: flex;
  flex-direction: column;

  @media @tablet {
    flex-direction: row;
    flex-wrap: wrap;
    width: 460px;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 0px;
    padding-bottom: 10px;
    margin-left: 124px;
    margin-right: 124px;
  }

  @media @desktop {
    justify-content: start;
    flex-direction: initial;
    min-width: 978px;
    margin-left: 23px;
  }
}

.form__selector-label--sights {
  width: 230px;

  @media @tablet {
    width: 205px;
    flex-wrap: wrap;
    margin-right: 1px;
  }

  @media @desktop {
    width: 197px;
    padding-right: 28px;
    padding-left: 10px;
  }
}

.form__notice {
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);

  @media @tablet {
    color: @black;
    margin-top: 22px;
    margin-right: 10px;
  }

  @media @desktop {
    color: @black;
    margin-top: 10px;
    margin-bottom: 2px;
    padding-top: 13px;
    padding-right: 25px;
  }
}
