.intro {
  background-color: @white;
  background-image: url("../../img/background/bg-mountain-mobile.jpg");
  background-repeat: no-repeat, no-repeat;
  // background-position: bottom, center top;
  // background-size: auto, cover;
  background-size: 100%;
  height: 100%;
}

.intro__wrapper {
  text-align: center;
  padding-top: 90px;
}

.intro__wrapper--inner {
  padding-top: 52px;
}

.intro__info--triangle {
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.intro__triangle {
  display: block;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -1104px;
}

.intro--inner {
  height: 158px;
  // background-size: auto, auto;
  background-position: left bottom, left bottom;
}
