.intro {
  background-color: @bg-color-main-button;
  background-image: url("../img/background/bg-border.svg"),
    url("../img/background/bg-mountain-mobile.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, center top;
  background-size: auto, cover;
  height: 390px;

  &--inner {
    height: 158px;
    background-position: bottom, center bottom;
  }

  @media @tablet {
    background-color: @bg-color-main-button;
    background-image: url("../img/background/bg-border-tablet.svg"),
      url("../img/background/bg-mountain-tablet.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, center top;
    background-size: auto, cover;
    height: 518px;
  }
}

.intro__wrapper {
  text-align: center;
  padding-top: 90px;
}

.intro__wrapper--inner {
  padding-top: 52px;
}

.intro__text-image {
  @media @tablet {
    width: 461px;
    height: 350px;
  }
}
