.likes {
  display: flex;
  width: 70px;
  justify-content: space-between;
  align-items: center;

  @media @desktop {
    display: flex;
    width: 70px;
    justify-content: space-between;
    align-items: center;
  }
}

.likes__count {
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
}

.likes__like-button {
  border: none;
  background-color: @white;

  @media @tablet {
    background-color: @bg-color-body;
    fill: @white;
  }

  @media @desktop {
    // background-color: rgba(0, 0, 0, 0.0);
  }
}

// .likes__icon-like {
//   @media @desktop {

//   }
// }
