.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  @media @tablet {
    width: 768px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
    align-items: center;
  }
}

.menu__item {
  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }
}

.menu__item:nth-child(4n + 4) {
  grid-column: 5 / 6;
}

.menu__item:nth-child(4n + 3) {
  grid-column: 4 / 5;
}

.menu__link {
  text-decoration: none;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  font-family: @font-family-base;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  color: @white;
  text-transform: uppercase;
  background-color: @bg-color-main-button;
  border: 0;
  border-top: 1px solid rgba(@white, 0.2);
  border-bottom: 1px solid rgba(@black, 0.2);

  &:focus {
    background-color: @bg-color-button--hover;
    color: rgba(255, 255, 255, 0.3);
    outline: none;
  }

  @media @tablet {
    color: @black;
    background-color: @white;
    border-top: none;
    border-bottom: none;
    font-size: 14px;
    font-weight: bold;

    &:hover {
      color: @bg-color-button--hover;
    }

    &:active {
      color: @bg-color-button--active;
    }

    &:focus {
      background-color: @white;
      color: inherit;
    }
  }

  @media @desktop {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    border: none;
    width: 231px;
    color: @black;
    background-color: @white;
    padding-bottom: 17px;
    padding-top: 18px;

    &:hover {
      color: @bg-color-button--hover;
    }

    &:active {
      color: @bg-color-button--active;
    }

    &:focus {
      background-color: @white;
      color: inherit;
    }
  }
}

.menu__link--current {
  color: @white;

  @media @tablet {
    color: @font-color-item--active;
  }

  @media @desktop {
    color: @font-color-item--active;
  }
}
