.page-body {
  position: relative;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-family: @font-family-base;
  color: @font-color-base;

  @media @tablet {
    position: relative;
    min-width: 886px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 21px;
    font-family: @font-family-base;
    color: @font-color-base;
  }

  @media @desktop {
    position: relative;
    min-width: 1006px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 21px;
    font-family: @font-family-base;
    color: @font-color-base;
  }
}
