.page-header {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-color: @white;
  position: relative;

  @media @tablet {
    width: 768px;
  }

  @media @desktop {
    width: 1200px;
  }
}

.page-header__open-nav-button {
  padding: 0;
  background: 0 0;
  border: transparent;
  cursor: pointer;
  width: 23px;
  height: 23px;
  margin-right: 20px;
  position: absolute;
  top: 30%;
  left: 87%;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__open-nav-button::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 23px;
  height: 4px;
  background-color: @bg-color-main-button;
  box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2;
}

.page-header__image-wrapper {
  position: relative;
  padding-top: 51px;
  min-height: 107px;
  background-color: @bg-color-back;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.page-header__logo {
  position: absolute;
  left: 50%;
  z-index: 2;
  margin-left: -93px;

  @media @tablet {
    top: 0;
    position: absolute;
    left: 50%;
    z-index: 2;
    margin-left: -93px;
  }

  @media @desktop {
    position: absolute;
    left: 50%;
    z-index: 2;
    margin-left: -93px;
  }
}

.page-header__logo-image {
  width: 185px;
  height: 96px;
}

.page-header__menu-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 56px;

  @media @tablet {
    display: none;
  }
}

.page-header__image {
  display: block;
  margin: 0 auto;
  width: 230px;
  height: 40px;

  @media @tablet {
    width: 460px;
    height: 80px;
  }

  &--index {
    width: 282px;
    height: 214px;

    @media @tablet {
      width: 460px;
      height: 350px;
    }
  }
}
