.page-header {
  background-color: #ffffff;
  position: relative;
  margin: 0 auto;
}

.page-header__logo {
  // position: absolute;
  // left: 45%;
  // z-index: 2;
  // margin-left: -83px;

  position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  // margin-top: -23px;
}

// .page-header__logo-image {}

// .page-header__menu-bar {}

// .page-header__toggle {}

// .page-header__toggle--closed {}
.page-header__open-nav-button {
  padding: 0;
  background: none;
  border: transparent;
  cursor: pointer;
  position: relative;
  width: 23px;
  height: 23px;
  margin-right: 20px;
}
