.page-header {
  background-color: #ffffff;
  position: relative;
  margin: 0 auto;
}

// .page-header__logo {}

// .page-header__logo-image {}

// .page-header__menu-bar {}

// .page-header__toggle {}

// .page-header__toggle--closed {}
