.search-hotel {
  margin: 0 auto;
  text-align: center;
  padding: 61px 20px 58px;

  @media @tablet {
    padding: 53px 0 58px;
    max-width: 458px;
  }

  @media @desktop {
    padding-top: 62px;
    margin-left: 372px;
  }
}

.search-hotel__title {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: @font-color-heading;

  @media @tablet {
    font-size: 30px;
    line-height: 30px;
  }
}

.search-hotel__text {
  margin-top: 19px;
  line-height: 24px;

  @media @tablet {
    margin-top: 27px;
  }
}

.search-hotel__button {
  font-family: @font-family-base;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-top: 35px;

  @media @tablet {
    margin-top: 42px;
  }

  @media @desktop {
    margin-top: 46px;
  }
}

.search-hotel__description {
  font-family: @font-family-base;
  font-weight: 400;
  font-size: @font-size-base;
  line-height: @line-height-base;
  text-transform: uppercase;
  color: @font-color-base;

  @media @tablet {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: @font-color-base;
    max-width: 435px;
  }

  @media @desktop {
    padding-left: 11px;
  }
}

.search-hotel__one {
  display: none;

  @media @tablet {
    display: block;
  }

  @media @desktop {
    display: block;
  }
}
